body {
    background: #020617;
    color: aliceblue;
    max-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 50px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    gap: 10px;
    width: 90vw;
    max-width: 400px;
    margin: auto;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    background: black;
    cursor: pointer;
    border: 2px solid #00f5d4;
    
}

.x {
    font-size: 80px;
    color: gray;
}

.o {
   font-size: 80px;
   color: greenyellow
}

.reset-board {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    color: #4cc9f0;
    background: #0f172a;
    border: none;
}